

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: .9rem;
}

.hero {
    display: flex;
    width: 100%;
    background-image: linear-gradient(to top, #121212 5%, rgba(18, 18, 18, 0.5) 100%), url("images/donation0.jpg");
    height: 650px;
    background-size: 100% 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.top-section {
    text-align: center;
    color: #fff;
    width: 60%;
    margin: auto;
    flex-direction: column;
}

.main-heading {
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    
}

.button-generel {
    padding: 14px 12px;
    border-radius: 5px;
    border: 0px;
    color: #fff;
    font-family:'Poppins', sans-serif;
    font-size: 1.1rem;
    background-color: #FF5959;
}

.Donate-Today{
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
    width: 60%;
}

.Donate-Today-heading > p{
    color:#707070;
       
}

.all-other-heading{
    font-size: 2rem;

}

.Donate-Today-amounts{
    display: flex;
    justify-content: space-between;
}

.donation-amounts{
    font-family: 'Inter', sans-serif;
    color:#707070;
    border: 0;
    background: none;
    font-size: 1.5rem;
    font-weight: 800;
    
}

.donation-amounts:hover{
    color: #FFEEEE;
    background: #FF5959;
    border: 1px solid #FFEEEE;
    border-radius: 3px;
    padding: 15px 10px;
}

#selected-amount{
    color: #FF5959;
    background: #FFEEEE;
    border: 1px solid #FF5959;
    border-radius: 3px;
    padding: 15px 10px;
    text-decoration: none;
}

#selected-amount:hover{
    color: #FFEEEE;
    background: #FF5959;
    border: 1px solid #FFEEEE;
    border-radius: 3px;
    padding: 15px 10px;
    text-decoration: none;
}

.FORM{
    margin: 0;
    padding: 0;
}

#Other-Amount{
    margin-top: 4rem;
    color: #B3B3B3;
    border: none;
    border-bottom:1px solid #B3B3B3;
    font-family: 'Poppins',sans-serif;
    text-align: center;
    width: 100%;
    margin-bottom:2rem;
  
}

#Other-Amount:focus{
    margin-top: 4rem;
    color: #FF5959;
    border: none;
    background: #ffffff;
    font-family: 'Poppins',sans-serif;
    text-align: center;
    width: 100%;
    margin-bottom:2rem;
  
}

.Donation-plan-section{
    width: 90%;
}

.Donation-plan-section-Heading{
    width: 70%;
    text-align: center;
    margin: auto;
}

#Donation-plans-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.donation-plans-card-icon{
    width: 30px;
    display: block;
    
}

.donation-card-design{
    border-radius: 5px;
    padding: .5rem;
    padding:2rem 1rem;
    margin: .3rem;
    width: 30%;
}

.Donation-plan-card-1{
    background: rgba(79, 157, 166, 0.1);
}

.docnation-plans-card-heading{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
    text-align: left;
    margin-top:0.8rem;
    margin-bottom: .5rem;
    
}

.donation-plans-card-description{
    font-size: .7rem;
    text-align: left;
    margin-top: 0;
}

.Donation-plan-card-2{
    background: rgba(255, 89, 89, 0.1);
    
}

.Donation-plan-card-3{
    background:#FFF4D6;
    
}


.How-to-Contribute{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.contribute-image{
    width: 50%;
    border-radius: 5px;
    padding: 2rem;
}

.contribute-img-attribute{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.How-to-Contribute-description{
    width: 50%;
    padding: 2rem;
}
.How-to-Contribute-description>button{
    margin-top: 1rem;
}
.How-to-Contribute-description> p{
    margin-top: 1rem;
    font-size: .8rem;
}

.Get-Our-Updates{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 2.5rem;
}

.Get-Our-Updates-description{
    font-size: .8rem;
}

.news-later{
    background:#FFF4D6;
    padding: 5rem 2rem;
    width: 70%;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 2rem;    
}

.subscription-email{
    background: #D9D9D9;
    color:#AA9F9F;
    border: none;
    padding: 1rem;
    padding-right: 0rem;
    width: 60%;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px 0px 0px 5px;
    margin-right: 0;
    
}

.subscription-button{
    width: 30%;
    background: #FF5959;
    border-radius: 0px 5px 5px 0px;
    color:#ffffff;
    border: none;
    margin-left: 0rem;
    padding-left: 0%;
    
}

.fotter-bottom{
    background: #0B0D17;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 9rem;
}

.fotter-text{
    
}

.fotter-bottom-heading{
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    margin: auto;
    color: #FF5959;
}

.fotter-bottom-lastline{

}



    

/* Rectangle 246 */


/* box-sizing: border-box;

position: absolute;
width: 1440px;
height: 669px;
left: 0px;
top: 0px;

background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
border: 1px solid #000000;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));



font-family: 'Inter', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif; */